{% extends 'base.html' %}

{% block content %}
<span class="card-title">
    <h1>{% block title %} The Blog Page {% endblock %}</h1>
</span>
<div class="row">
    <h2>Recent Blogs</h2>
    {% for post in posts %}
    <div class="card">
        <p><b>#{{ post.pk }}</b></p>
        <p class="card-title">
            <b>
                <a class="card-link" href="{{ url_for('blogs.show_post', post_id=post.pk) }}">
                    {{ post.title }}
                </a>
            </b>
        </p>
        <div class="row">
            <p>{{ post.content }}</p>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}
